@font-face {
    font-family: 'Vingadores';
    src: url(./fontes/AVENGEANCE\ HEROIC\ AVENGER\ AT.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.imgApp2{
    height: 100vh;
    width: 100%;
    margin: 20px;
    padding: 30px;
    align-items: center;
    background-size: cover;
}

.h2App2{
    font-family: Vingadores;
    font-size: 300%;
    color:aliceblue;
    text-align:end;
    margin: 30px 40px;
    box-shadow: 4px 4px 6px 5px rgba(26, 25, 34, 0.973);
}

.container_App2{
    display: flex;
    background-image: url(./img/Group\ 1.png);
    background-position: center center;
    background-color: black;

}

.detalhes{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 10px;
    justify-content: center;
} 


button{
    align-items: flex-end;
    justify-content: flex-end;
}


