@font-face {
    font-family: 'Vingadores';
    src: url(./fontes/AVENGEANCE\ HEROIC\ AVENGER\ AT.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.h1App{
    font-family: Vingadores;
    font-size: 500%;
    color:aliceblue;
    text-align: end;
    padding: 30px 35px 0 0;
}

.container_App{
    background: linear-gradient(68.15deg,#1401b9,#080047 16.62%,#080131 85.61%);
}

ul{
    background: linear-gradient(68.15deg,#1401b9,#080047 16.62%,#080131 85.61%);
    flex-wrap: wrap;
    display: flex;
    gap: 1px;
    padding: 10px;
    margin: 10px;
}

li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: 5px;
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:aliceblue;
}

.img_App{
    width: 120%;
    max-width: 150%;
    height: auto;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

.img_App:hover {
    width: 100%;
    max-width: 150%;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 0 30px #1b02ff;
    transform: translateY(-20px); /* Adicionando um efeito de elevação ao passar o mouse */
}

footer{
    background: linear-gradient(68.15deg,#1401b9,#080047 16.62%,#080131 85.61%);
    color:aliceblue;
    font-family: Vingadores;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}